@import "/css/styleBlogg.css";
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header {
  height: 3rem;
  padding-left: 0%;
  padding-right: 0%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 0%;
  padding-bottom: 0%;
}
main {
  display: flex;
  flex-direction: row;
  min-width: 1800px;
  max-width: 1800px;
  height: 50rem;
  margin: 0%;
  padding-left: 10rem;
  padding-right: 10rem;
  justify-content: center;
}
.container {
  min-width: 42rem;
  width: 42rem;
  height: 16rem;
  display: flex;
  flex-direction: row;
  background-color: #52616b;
  padding: 10px;
  border-radius: 8px;
  margin-top: 1rem;
  justify-content: space-between;
  box-shadow: grey 0px 1px 1px 1px;
}
p {
  margin: 5px;
}

#responsiveContainer {
  display: none;
}
h3 {
  color: #f0f5f9;
  font-size: 1.4rem;
}
p {
  color: #f0f5f9;
  font-size: 1rem;
}
/*form css code */
form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
}
#error_message {
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 1s ease;
}
.containerForm {
  min-width: 42rem;
  width: 42.5rem;
  height: 31rem;
  background-color: #52616b;
  border-radius: 8px;
  color: #f0f5f9;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 5rem;
  margin-right: 5rem;
}
#email,
#subject,
#name {
  height: 2rem;
  width: 16rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: none;
  padding: 3px;
}
#message {
  height: 10rem;
  width: 30rem;
  border-radius: 3px;
  border: none;
  padding: 5px;
}
.btn input[type="submit"] {
  width: 6rem;
  height: 2.5rem;
  background-color: #c9d6df;
  color: #52616b;
  border: 1px solid gray;
  border-radius: 3px;
  margin-top: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  body {
    height: 80rem;
  }
  .header {
    padding-left: 0.5rem;
  }
  section {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  #responsiveContainer {
    background-color: #52616b;
    width: 20rem;
    height: 25rem;
    border-radius: 8px;
    color: #f0f5f9;
    display: flex;
    flex-direction: column;
    margin: 1.2rem;
    padding: 10px;
  }
  main {
    height: fit-content;
    padding-left: 2px;
    padding-right: 2px;
  }
  body {
    height: 100%;
  }
  .container {
    min-width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #52616b;
    padding: 10px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .containerForm {
    min-width: 95%;
    height: 31rem;
    background-color: #52616b;
    border-radius: 8px;
    color: #f0f5f9;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  #message {
    width: 100%;
  }
}
@media only screen and (max-width: 620px) {
  main {
    height: fit-content;
  }
}
