@import "/css/style.css";

.header {
  background-color: #c9d6df;
}

main {
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
}
.cardImg {
  height: 14rem;
  width: 18rem;
  border-bottom: 1px solid black;
}
.card {
  height: 16rem;
  width: 18rem;
  border: none;
  background: white;
  position: relative;
  border-radius: 3px;
  transition: 0.3s ease-out;
  border: 1px solid black;
  overflow: hidden;
  z-index: 5;
}
#buttonShow {
  height: 2rem;
  width: 5rem;
  background-color: #1e2022;
  color: #c9d6df;
  border-radius: 5px;
  border: solid #c9d6df 1px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}
#buttonShow:hover {
  color: #c9d6df;
  background-color: #1e2022;
  transform: 0.3s;
}
#cardTitle {
  text-align: center;
  color: black;
  margin: 0%;
  z-index: 1;
}
¨ .card:hover {
  background-color: #555657;
}
.card:hover #cardTitle {
  opacity: 80%;
  transition: 0.3s ease-out;
  background-color: #555657;
  color: white;
}
.hidden-item {
  display: none;
}
@media only screen and (max-width: 768px) {
  main {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 3rem;
  }
}
