@import "/css/style.css";

.header {
  background-color: #c9d6df;
}
.cardImg {
  height: 14rem;
  width: 18rem;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  height: 16rem;
  width: 18rem;
  border: none;
  background: white;
  position: relative;
  border-radius: 3px;
  transition: 0.3s ease-out;
  margin-bottom: 25px;
  border: 1px solid black;
  overflow: hidden;
}
.cardTitle {
  text-align: center;
}
.card:hover {
  box-shadow: 0px 8px 9px rgba(black, 0.4);
  transition: 0.3s ease-out;
  background-color: #1e2022;
  color: white;
}
.hidden-item {
  display: none;
}
@media only screen and (max-width: 768px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
